html, body {
    color: hsl(240, 4%, 85%);
    background-color: var(--in-content-box-background, transparent);
    /*background-color: hsl(0, 0%, 9%);*/
    /*background: #ac567d;*/
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 14px;
    box-sizing: content-box;
    /*overflow: visible;*/
    /*background-color: transparent;*/
    /*color: initial;*/
    /*background: inherit;*/
    --border-color: hsl(0, 0%, 28%);
    overflow: hidden;
}

html {
    /*background-color: var(--in-content-box-background, transparent);*/
}

body {
    /*background: transparent;*/
}

/* Separator */

hr {
    border: 0;
    height: 1px !important;
    background: var(--border-color) !important;
    margin: 0;
    border-top: 1px solid #000000;
    /*display: block;*/
    box-sizing: content-box;
}

.content {
    background-color: hsl(0, 0%, 21%);
    font-family: Monospaced, monospace;
    margin: 0;
    padding: 0;

    /*min-width: 350px;*/
    /*max-width: 400px;*/

    box-shadow: inset 0 0 0 1px var(--border-color);
    border: 1px solid #000000;
    overflow: hidden;
}

.section {
    border: 0px solid hsl(0, 0%, 5%);
    padding: 8px;
    margin: 0;
}

.section + .section {
    border-top: 0;
}




a:link, a:visited, a:active, a:hover {
    color: #34536A;
}

.section-header {
    /*background: rebeccapurple;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-header h3, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    line-height: 1;
    flex: 1 auto;
    display: inline-block;
}

.section-header .preview {
    width: 1rem;
    height: 1rem;
    /*background-color: hsl(314, 100%, 50%);*/
    justify-self: end;
    flex: 0 auto;
    border: 1px solid #000;
    /*box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.13), 0 1px 0 rgba(255, 255, 255, 0.07);*/
}

.flex {
    display: flex;
    justify-content: start;
    align-items: center;
    white-space: nowrap;
}

.flex > *:not(:last-child) {
    margin-right: 5px;
}

.on-right {
    margin-left: auto;
}

.on-left {
    margin-right: auto;
}




/* SELECT */
select {
    -moz-appearance: none;
    font-size: 0.9rem;
    font-family: inherit;
    background-color: hsl(0, 0%, 29%);
    background-image: url("../assets/ArrowDown.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: calc(100% - 8px);
    background-size: 1em;
    cursor: pointer;
    color: inherit;
    border: 1px solid #000;
    border-radius: 2px;
    padding: 3px 8px;
    padding-right: 30px;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.13), 0 1px 0 rgba(255, 255, 255, 0.07);
    outline: 0 !important;
    flex: 0 auto;
    margin: 0;
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

select:hover, select:focus {
    -moz-appearance: none;
    background-color: hsl(0, 0%, 32%);
}

option {
    -moz-appearance: none;
    background-color: hsl(0, 0%, 29%);
    text-overflow: ellipsis;
    overflow: hidden;
}

/* BUTTONS */
button {
    font-size: 0.9rem;
    background-color: hsl(0, 0%, 29%);
    border: 1px solid #000;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.13), 0 1px 0 rgba(255, 255, 255, 0.07);
    border-radius: 2px;
    padding: 4px 8px;
    color: inherit;
    cursor: pointer;
    outline: none;
    font-family: inherit;
    transition: background-color ease-in-out 150ms;
    display: flex;
    align-items: center;
}

button:hover, button:focus {
    background-color: hsl(0, 0%, 32%);
}

button:active {
    box-shadow: inset 0px 1px 3px -1px #000, 0 1px 0 rgba(255, 255, 255, 0.07), -1px -1px 0px rgba(255, 255, 255, 0.07);
}

.btn-image, .btn-image:focus {
    background: transparent;
    border: 0;
    box-shadow: none;
    padding: 0;
    opacity: 0.15;
    transition: opacity ease-in-out 150ms;
    /*flex: 1 auto;*/
    display: inline-flex;
}

.btn-image:hover {
    background: transparent;
    box-shadow: none;
    opacity: 0.7;
}

.btn-image:active {
    background: transparent;
    box-shadow: none;
    opacity: 1;
}

.opacity-50 {
    opacity: 0.6;
}

.icon {
    font-size: inherit;
    width: 1.15rem;
    height: 1.15rem;
    -moz-context-properties: fill;
}


/* Remove Borders, a.k.a. Outline */
select::-moz-focus-outer,
select::-moz-focus-inner,
button::-moz-focus-outer,
button::-moz-focus-inner {
    border: 0 !important;
    outline: 0 !important;
}


[contenteditable] {
    cursor: default;
    border: 1px solid transparent;
    padding: 4px 0px;
    text-overflow: ellipsis;
    /*max-width: 80%;*/
    overflow: hidden;
    white-space: nowrap;
}

[contenteditable='false'] {
    /*cursor: default;*/
    /*border: 1px solid transparent;*/
    /*padding: 4px 0px;*/
}

[contenteditable='true'] {
    cursor: text;
    border: 1px solid transparent;
    padding: 4px 0px;
    border-bottom: 1px dashed hsl(0, 0%, 30%);
}

[contenteditable='true']:focus {
    outline: none;
    cursor: text;
    background-color: hsl(0, 0%, 10%);
    border: 1px solid #000;
    border-radius: 2px;
    padding: 4px 8px;
    box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.9), 0 1px 0 rgba(255, 255, 255, 0.07);
}

.max-content-size {
    margin: 0 auto;
    max-width: 350px;
}

.fix {
    flex: 0 auto;
}

#btn-reload {
    /*display: none;*/
}

@media (min-width: 200px) {

    .content {
        /*background-color: red;*/
    }

}

@media (min-width: 350px) {

    .content {
        /*background-color: #ac567d;*/
    }
}

#debug {
    white-space: pre-wrap;
    overflow: auto;
}